In [1]:
import pandas as pd
import time

In [2]:
# Get Benefit info, 1.88 sec
t = time.process_time()
ben8 = pd.read_csv('DE1_0_2008_Beneficiary_Summary_File_Sample_2.csv')
ben9 = pd.read_csv('DE1_0_2009_Beneficiary_Summary_File_Sample_2.csv')
ben10 = pd.read_csv('DE1_0_2010_Beneficiary_Summary_File_Sample_2.csv')
ben_all = pd.concat([ben8, ben9, ben10])
print(time.process_time() - t)

1.8837049999999997

In [3]:
ben_all.shape

(343858, 32)

In [4]:
# Load Claim Files, 112.72 sec
# Inpatient
t = time.process_time()
claims_IP = pd.read_csv('DE1_0_2008_to_2010_Inpatient_Claims_Sample_2.csv')
# Outpatient
claims_OP = pd.read_csv('DE1_0_2008_to_2010_Outpatient_Claims_Sample_2.csv')
# Merge Carrier
claims_Carrier_A = pd.read_csv('DE1_0_2008_to_2010_Carrier_Claims_Sample_2A.csv')
claims_Carrier_B = pd.read_csv('DE1_0_2008_to_2010_Carrier_Claims_Sample_2B.csv')
claims_Carrier = pd.concat([claims_Carrier_A, claims_Carrier_B])
print(time.process_time() - t)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (21,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,46,47,48,49,50,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,9,10,11,45,46,47,48,49,50,135,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

112.721762

In [5]:
# Birth Date format
print ('The data type of the Date of Birth column (BENE_BIRTH_DT) is ' + str(type(ben_all['BENE_BIRTH_DT'][0])))
# All values are recorded as the first of the month in which the beneficiary was born. 
# For example 19740401

The data type of the Date of Birth column (BENE_BIRTH_DT) is <class 'pandas.core.series.Series'>

In [6]:
#Write beneficiary features of interest for corresponding patients into a single dataframe for preprocessing

working_df = pd.DataFrame(index = ben10.index)
beneficiary_features = ['DESYNPUF_ID','BENE_SEX_IDENT_CD', 'BENE_RACE_CD', 'BENE_BIRTH_DT', 'SP_STATE_CODE', 
                        'BENE_COUNTY_CD','SP_ALZHDMTA', 'SP_CHF', 'SP_CHRNKIDN', 'SP_CNCR', 'SP_COPD', 'SP_DIABETES', 'SP_DEPRESSN', 
                        'SP_ISCHMCHT', 'SP_OSTEOPRS', 'SP_RA_OA', 'SP_STRKETIA', 'MEDREIMB_OP', 'BENRES_OP', 
                        'PPPYMT_OP', 'BENE_DEATH_DT']

In [7]:
#Select beneficiary data corresponding to the sample size
working_df = ben10

#Drop features that are not of interest
for col in working_df:
    if col not in beneficiary_features:
        working_df.drop(col, axis = 1, inplace = True)

In [8]:
#Drop rows and columns where all elements are NULL
working_df = working_df.dropna(axis=1, how='all')
working_df = working_df.dropna(axis=0, how='all')

In [9]:
#Add hospitalization date to the working dataframe
working_df = pd.merge(working_df, claims_IP[['DESYNPUF_ID','CLM_ADMSN_DT']], how='left', on='DESYNPUF_ID')

In [10]:
#target_date - start date of forecasting patients hospitalization 
target_date = 20100101

In [11]:
#Create target variable Y showing 1 if patient has been hospitalized in the target dataframe
working_df['Y'] = working_df.CLM_ADMSN_DT.apply(lambda x: 1 if x >= target_date else 0)

In [12]:
working_df['Y'].describe()

count    141363.000000
mean          0.095683
std           0.294157
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Y, dtype: float64

In [13]:
#This takes a long time to run, 201.67 sec
#If hospitalized, first admission date
t = time.process_time()
dates = {}
for patient in working_df.DESYNPUF_ID[working_df.Y==1]:
    hosp_dates = working_df[working_df.DESYNPUF_ID==patient].CLM_ADMSN_DT
    min_date_2010 = min(hosp_dates[hosp_dates>=20100101])
    dates[patient] = min_date_2010
df_dates = pd.DataFrame(dates, index = dates.keys())
working_df['fst_admsn_dt'] = working_df['DESYNPUF_ID'].map(dates)
print(time.process_time() - t)

201.67442100000005

In [14]:
import datetime
from datetime import date
import dateutil
from datetime import datetime
from dateutil import parser
import numpy as np

def clean_df(df):
    
    '''Takes as input a DataFrame, creates a dummy variable for the death date (0 if still alive, 1 if not).
    Calculates the column TRUE_AGE, according to the death date if the dummy variable indicating death is 1, 
    or according to today's date if the dummy variable is 0. Recodes the column BENE_SEX_IDENT_CD (Sex) as 
    1: Female, 0: Male. '''
    
    days_a_year = 365.24
    
    ## Filling the missing values with 0, as explained above
    df['BENE_DEATH_DT'] = df['BENE_DEATH_DT'].fillna(0)
    
    ## Creating the column DEATH_DUMMY, 1 if the patient is dead, 0 otherwise
    df['DEATH_DUMMY'] = [int(int(df['BENE_DEATH_DT'][k])>0) for k in range(len(df['BENE_DEATH_DT']))]
    df['BENE_BIRTH_DT'] = [str(j) for j in df['BENE_BIRTH_DT']]
    
    df['BENE_DEATH_DT'] = [str(int("%2.f" % float(j))) for j in df['BENE_DEATH_DT']]
    
    bday_date = [dateutil.parser.parse(date) for date in df['BENE_BIRTH_DT']]
    
    death_date = []
    for d in range(len(df)):
        if df['DEATH_DUMMY'][d] == 0:
            death_date.append(dateutil.parser.parse(str(20100101)))
        elif df['DEATH_DUMMY'][d] == 1:
            death_date.append(dateutil.parser.parse(df['BENE_DEATH_DT'][d]))
    
    df['TRUE_AGE'] = [((death_date[j] - bday_date[j])/days_a_year).days for j in range(len(df['BENE_BIRTH_DT']))]
    
        ## Sex recoded to (0:Male, 1:Female) 
    df['BENE_SEX_IDENT_CD'] = [int(df['BENE_SEX_IDENT_CD'][i] == 2) for i in range(len(df['BENE_SEX_IDENT_CD']))]
    
    return df

In [15]:
#Takes long time to run, 19.81 sec
t = time.process_time()
clean_df = clean_df(working_df)
print(time.process_time() - t)

19.812880000000007

In [16]:
working_df.head(200)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,SP_RA_OA,SP_STRKETIA,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,CLM_ADMSN_DT,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,2,2,600.0,30.0,0.0,20080707.0,0,NaN,0,86
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,2,2,600.0,30.0,0.0,20080724.0,0,NaN,0,86
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,2,2,600.0,30.0,0.0,20080805.0,0,NaN,0,86
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,2,2,240.0,190.0,0.0,20080525.0,0,NaN,0,89
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,2,2,240.0,190.0,0.0,20080918.0,0,NaN,0,89
5,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,2,2,210.0,160.0,0.0,20080329.0,0,NaN,0,78
6,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,2,2,210.0,160.0,0.0,20080402.0,0,NaN,0,78
7,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,2,2,210.0,160.0,0.0,20080415.0,0,NaN,0,78
8,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,2,2,210.0,160.0,0.0,20080514.0,0,NaN,0,78
9,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,2,2,210.0,160.0,0.0,20080921.0,0,NaN,0,78
10,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,75
11,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,95
12,0002EC0BCA99CACF,19421201,0,0,1,20,60,2,2,2,...,2,2,200.0,30.0,0.0,NaN,0,NaN,0,67
13,0002FABBFD6D1C5C,19240701,0,1,1,49,921,1,2,2,...,2,2,1390.0,1510.0,0.0,NaN,0,NaN,0,85
14,000364233C3E3682,19351201,0,0,1,36,80,1,1,2,...,1,2,860.0,530.0,0.0,NaN,0,NaN,0,74
15,000433285C8D2349,19270901,0,1,1,5,50,2,1,2,...,2,2,70.0,30.0,0.0,20090521.0,0,NaN,0,82
16,0004B213C9EA58EC,19421101,0,1,1,23,430,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,67
17,0005F7B5C901BB68,19401101,0,0,3,36,30,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,69
18,00063869E550F9B1,19410701,0,1,1,1,270,2,2,2,...,2,2,400.0,40.0,0.0,NaN,0,NaN,0,68
19,0007C7A2777AA775,19611201,0,1,1,42,210,2,1,1,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,48
20,0007DC6720F658B7,19370201,0,1,1,18,550,2,1,1,...,2,2,0.0,0.0,0.0,20091214.0,0,NaN,0,72
21,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,2,2,17990.0,6770.0,0.0,20091211.0,0,20100113.0,0,67
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,2,2,17990.0,6770.0,0.0,20100113.0,1,20100113.0,0,67
23,00084CF1B8522AB2,19290501,0,1,1,17,450,2,2,2,...,2,2,10.0,0.0,0.0,NaN,0,NaN,0,80
24,0009EB553C103F95,19630801,0,1,1,52,500,1,2,2,...,2,2,110.0,0.0,0.0,20081105.0,0,NaN,0,46
25,000A15D4D6F12A3E,19510101,0,1,1,37,480,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,59
26,000A49D50DB10546,19430301,0,1,1,10,640,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,66
27,000B6900337D45AF,19490601,0,1,1,34,500,2,2,2,...,1,2,0.0,0.0,0.0,20100831.0,1,20100831.0,0,60
28,000C28E021CD4C27,19410701,0,1,1,36,480,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,68
29,000C3A3E8A09970F,19530901,0,0,1,42,90,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,004F64D83F470123,19351201,0,0,1,38,80,2,2,1,...,2,2,1200.0,200.0,0.0,20090516.0,0,NaN,0,74
171,004F88355CF310FB,19411201,0,1,1,44,460,2,2,2,...,2,2,0.0,0.0,0.0,20090423.0,0,NaN,0,68
172,0050E46DD13AD7C5,19431001,0,0,1,45,610,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,66
173,005109473BF3A718,19420301,0,0,1,32,0,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,67
174,005164F0AD8B5455,19240401,0,1,1,10,550,2,2,2,...,2,2,-10.0,200.0,0.0,NaN,0,NaN,0,85
175,005221A100F5C21F,19160301,0,1,3,36,20,1,2,2,...,2,2,90.0,40.0,0.0,NaN,0,NaN,0,93
176,0052730966742329,19410101,0,1,1,45,734,2,2,1,...,1,2,200.0,1100.0,0.0,NaN,0,NaN,0,69
177,00527C551F65522E,19320301,0,0,3,5,200,2,2,2,...,2,2,750.0,400.0,0.0,NaN,0,NaN,0,77
178,005301E074835F1E,19300901,0,1,1,33,590,2,2,2,...,2,2,1700.0,100.0,0.0,NaN,0,NaN,0,79
179,0053BCDFE783D8B2,19331001,0,1,5,5,440,2,2,2,...,2,2,300.0,0.0,0.0,NaN,0,NaN,0,76
180,0053CADA86790B1C,19400201,0,0,1,18,180,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,69
181,005498611629217F,19290401,0,0,1,13,270,2,1,1,...,2,2,280.0,90.0,0.0,20090607.0,0,20100727.0,0,80
182,005498611629217F,19290401,0,0,1,13,270,2,1,1,...,2,2,280.0,90.0,0.0,20100727.0,1,20100727.0,0,80
183,00562CF1B588606D,19251001,0,0,1,15,480,1,1,1,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,84
184,00567734DBB19EB9,19310101,0,1,1,54,660,2,2,2,...,2,2,90.0,40.0,0.0,NaN,0,NaN,0,79
185,0056EA72590C0740,19430101,0,0,1,35,80,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,67
186,005769EB03FEEE4E,19320601,0,0,1,7,50,2,2,2,...,2,2,0.0,0.0,0.0,20091024.0,0,NaN,0,77
187,0057AEAE0AE89D0E,19420501,0,0,1,45,843,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,67
188,0058DF8961263841,19400601,0,1,1,22,70,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,69
189,00593728BA1F5D90,19620601,0,1,1,54,60,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,47
190,0059A2D9D15638E8,19370901,0,0,1,43,400,2,2,2,...,2,2,4350.0,110.0,0.0,NaN,0,NaN,0,72
191,0059BCBB78C16264,19410101,0,1,1,28,440,2,2,2,...,2,2,0.0,0.0,0.0,20100328.0,1,20100328.0,0,69
192,0059E368749C4C0B,19230601,0,0,2,10,120,2,1,1,...,2,2,440.0,380.0,500.0,NaN,0,NaN,0,86
193,005A831383680E1D,19421101,0,0,1,53,90,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,67
194,005AD6B66C7006C9,19321001,0,0,1,39,290,2,1,2,...,2,2,0.0,0.0,0.0,20080124.0,0,NaN,0,77
195,005AD6B66C7006C9,19321001,0,0,1,39,290,2,1,2,...,2,2,0.0,0.0,0.0,20080506.0,0,NaN,0,77
196,005AE89F4E0B91A0,19630201,0,1,2,33,240,2,1,2,...,1,2,2900.0,600.0,0.0,NaN,0,NaN,0,46
197,005B849401067992,19430401,0,1,1,44,320,2,1,2,...,2,2,700.0,830.0,0.0,20091229.0,0,NaN,0,66
198,005C160E5A77312C,19290801,0,1,1,18,180,2,1,2,...,2,2,890.0,240.0,0.0,20100801.0,1,20100801.0,0,80
199,005C43F12BD17A82,19340301,0,1,1,10,310,2,2,2,...,2,2,0.0,0.0,0.0,NaN,0,NaN,0,75

In [17]:
#Takes long time to run
#Change "first_ad_date" from 20101023.0 to 2010-10-23
t = time.process_time()
clean_df['first_ad_date']=clean_df.fst_admsn_dt.astype(str).apply(lambda x: pd.to_datetime(x, format='%Y%m%d'))
print(time.process_time() - t)

35.17691599999995

In [18]:
#Add a fake admission date for people who has no hospitalization in 2010: 3000-01-01
clean_df.first_ad_date.fillna(datetime(3000, 1, 1), inplace = True)

In [19]:
# The start training date for everyone is 2008-01-01
clean_df['start_train_dt']=datetime(2008,1,1)

In [20]:
import datetime
import calendar

def add_months(sourcedate, months):
    mmonth = sourcedate.month - 1 + months
    yyear = int(sourcedate.year + mmonth / 12)
    mmonth = mmonth % 12 + 1
    dday = min(sourcedate.day,calendar.monthrange(yyear,mmonth)[1])
    return datetime.date(yyear,mmonth,dday)

# Make a new variable to indicate the end of the training date, 0.34 sec
# If 'Y'=1(admission in 2010), 'end_train_dt' is 6 months before the first admission date in 2010;
# If 'Y'=0(admission in 2010), 'end_train_dt' is 2010-06-30;

t = time.process_time()
clean_df['end_train_dt']=clean_df.first_ad_date.apply(lambda x: add_months(x,-6))
print(time.process_time() - t)

0.3356759999999781

In [21]:
#Create Member months
import math

out = []

for row in range(clean_df.shape[0]):
    num=((clean_df.end_train_dt[row].year - clean_df.start_train_dt[row].year)*365 
    +(clean_df.end_train_dt[row].month - clean_df.start_train_dt[row].month)*30.4
    +(clean_df.end_train_dt[row].day - clean_df.start_train_dt[row].day))/30.4
    
    out.append(math.ceil(num))

In [22]:
# Add member month, 0.04 sec
t = time.process_time()
clean_df['member_month']= pd.Series(out)
print(time.process_time() - t)

0.04422499999998308

In [23]:
#Write pre-selected data into a csv for cleaning and feature selection
working_df.to_csv('preprocessed_data.csv')

In [28]:
import pickle
pickle.dump(clean_df, open( "clean_df.p", "wb" ) )
pickle.dump(working_df, open( "working_df.p", "wb" ) )

In [24]:
# Get outpatient payment by patient
outpatient_payment = pd.DataFrame(claims_OP.groupby('DESYNPUF_ID').sum()['CLM_PMT_AMT'])
outpatient_payment['DESYNPUF_ID'] = outpatient_payment.index
outpatient_payment.head()

                  CLM_PMT_AMT       DESYNPUF_ID
DESYNPUF_ID
00000B48BCF4AD29       2700.0  00000B48BCF4AD29
0000525AB30E4DEF       5440.0  0000525AB30E4DEF
00009C897C3D8372       2560.0  00009C897C3D8372
0002EC0BCA99CACF        200.0  0002EC0BCA99CACF
0002FABBFD6D1C5C       1610.0  0002FABBFD6D1C5C

In [25]:
#OP counts
outpatient = pd.merge(outpatient, clean_df[['DESYNPUF_ID', 'end_train_dt', 'Y', 'TRUE_AGE']], how='left', on='DESYNPUF_ID')
outpatient = outpatient.dropna(0, subset = ['CLM_FROM_DT'])
outpatient['CLM_FROM_DT'] = [str(int(x)) for x in outpatient['CLM_FROM_DT']]
outpatient['CLM_FROM_DT'] = [dateutil.parser.parse(str(date)).date() for date in outpatient['CLM_FROM_DT']]
outpatient_df_1 = outpatient.dropna(subset=['end_train_dt'])
outpatient_df_1['end_train_dt'] = [dateutil.parser.parse(str(date)).date() for date in outpatient_df_1['end_train_dt']]
date_mask = [outpatient_df_1['CLM_FROM_DT'].iloc[i]<outpatient_df_1['end_train_dt'].iloc[i] for i in range(len(outpatient_df_1))]
df_training = outpatient_df_1[date_mask]
op_training_df = op_training_df.drop_duplicates(subset='CLM_ID')

op_training_df = pd.merge(op_training_df, outpatient_payment[['DESYNPUF_ID', 'CLM_PMT_AMT']], how='left', on='DESYNPUF_ID')

op_training_df['CLM_PMT_AMT_x'] = op_training_df['CLM_PMT_AMT_x'].fillna(0)
## Removing Duplicates

op_training_clm_unique = op_training_df.drop_duplicates(subset='CLM_ID')
op_training_clm_unique.head(100)

## Counting Unique Claim IDs for each patient
op_number_perid = pd.DataFrame(op_training_clm_unique.groupby('DESYNPUF_ID').count()['CLM_ID'])

op_number_perid['DESYNPUF_ID'] = op_number_perid.index

NameError: name 'outpatient' is not defined